.my_table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    display: block;
    height: 400px;
    overflow-y: auto;
    border-collapse: collapse;
    width: 100%;
  }


  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: #FBCB0A;
  }
  
  td {
    background-color: #FBF2B7;
  }